name: test-CI/CD

on:
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Always succeed
        run: echo "Workflow completed successfullyasdasd"